In [1]:
# d = {<key>:<Value>,<key>:<Value>}

In [5]:
d={"A":"Apple","B":"Ball"}
d["B"]

'Ball'

In [6]:
# Mutable
# indexed
# ordered
# Duplicate

In [7]:
d={}
d['A']="Apple"
d['B']="Ball"
d

{'A': 'Apple', 'B': 'Ball'}

In [10]:
d["A"]="Ant"
d

{'A': 'Ant', 'B': 'Ball'}

In [15]:
d={}
d[0]="Apple"
d[1]="Ball"

In [16]:

d[1]

'Ball'

In [18]:
info = {}
for i in range(2):
    name = input("Enter name = ")
    phone = int(input("Enter phone ="))
    info[name]=phone
print(info)

Enter name = Ram
Enter phone =987
Enter name = dfsd
Enter phone =32
{'Ram': 987, 'dfsd': 32}

In [20]:
a={"a":"Apple","c":"Cat"}
b={"b":"Ball"}
a.update(b)
print(a)

{'a': 'Apple', 'c': 'Cat', 'b': 'Ball'}

In [22]:
for i in a.values():
    print(i)

Apple
Cat
Ball

In [23]:
for i in a.items():
    print(i)

('a', 'Apple')
('c', 'Cat')
('b', 'Ball')

In [25]:
# update clear del pop
a = {'a':'Apple','c':'Cat','b':'Ball'}
del a['a']
a

{'c': 'Cat', 'b': 'Ball'}

In [27]:

a = {'a':'Apple','c':'Cat','b':'Ball'}
a.clear()
a

{}

In [31]:
info = {}
for i in range(2):
    name = input("Enter name = ")
    ncell_phone = int(input("Enter phone ="))
    ntc_phone = int(input("Enter phone ="))
    info[name]=[ncell_phone,ntc_phone]
print(info)

Enter name = asfd
Enter phone =432
Enter phone =432
Enter name = sfdfsd
Enter phone =24
Enter phone =555
{'asfd': [432, 432], 'sfdfsd': [24, 555]}

In [32]:
name=input("enter name = ")
print(info[name])

enter name = asfd
[432, 432]

In [41]:
b={}

a={"a":"Apple","b":"Ball"}
for i in a.items():
    key = i[0].upper()
    value = i[1]
    b[key]=value
b

{'A': 'Apple', 'B': 'Ball'}

In [42]:
b={}
a={"a":"Apple","b":"Ball"}
for i in a.items():
    key = i[0]
    if key=="a"
    value=i[1]
    b[key]=value
b

SyntaxError: invalid syntax (<ipython-input-42-5a03aaa0af8f>, line 6)

In [47]:
b=[]
a={"a":"Apple","b":"Ball"}
for i in a.items():
#     x = list(i)
#     print(x)
    if i[0]=='a':
        x= list(i)
        x[0]="A"
        b.append(x[0])
    else:
        b.append(list(i))

SyntaxError: invalid syntax (<ipython-input-47-f35518f3a288>, line 7)

In [49]:
# dictionary inside list
a=[{"Ram":987654},{"Shyam":4567}]
a
print(type(a))

<class 'list'>

In [50]:
a[0]

{'Ram': 987654}

In [52]:
a.append({"Hari":432048092})
a

[{'Ram': 987654}, {'Shyam': 4567}, {'Hari': 432048092}, {'Hari': 432048092}]

In [55]:
z=[]
n=int(input("enter the value of n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d={name:phone}
    z.append(d)
print(z)

enter the value of n = 2
Enter name = ram
Enter phone = 234
Enter name = rai
Enter phone = 234
[{'ram': '234'}, {'rai': '234'}]

In [4]:
# dictionary inside dictionary
a={"Ram":{"NTC":987654,"NCELL":5678},"Shyam":{"NTC":9876,"NCELL":87578578}}
print(a)

{'Ram': {'NTC': 987654, 'NCELL': 5678}, 'Shyam': {'NTC': 9876, 'NCELL': 87578578}}

In [5]:
for i in a.items():
    print(i)

('Ram', {'NTC': 987654, 'NCELL': 5678})
('Shyam', {'NTC': 9876, 'NCELL': 87578578})

In [22]:
x={}
y=int(input("Enter how many data u wanna put"))
for i in range(y):
    a=input("enter the value of index")
    b=int(input("enter the phone no of ntc"))
    c=int(input("enter the phone no of ncell"))
    x[a]={b,c}
          
print(x)

Enter how many data u wanna put1
enter the value of indexewe
enter the phone no of ntc312
enter the phone no of ncell23
{'ewe': {312, 23}}

In [18]:
# update,enter ,etc