In [1]:
a = "Hello World"
print(a)
print(type(a))

Hello World
<class 'str'>

In [2]:
a="hello"
b=" world"
print(a+b)

hello world

In [6]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [10]:
a="python"
print(a[0])

p

In [24]:
a="Hello world this is python"
print(a[0:5])
print(a[0:20:2])

Hello
Hlowrdti s

In [25]:
a="python"
print(a[5::-1])

nohtyp

In [34]:
# STRING FORMATTING
a ="Apple"
b ="Ball"
c =f"{a} {b}"
print(c)

Apple Ball

In [38]:
name = input("enter name=")
age = int(input("enter age = "))
add = input("enter address = ")
info=f"Hello my name is {name}.I am from {add}.I am {age}"
print(info)

enter name=sfdfd
enter age = 3
enter address = er
Hello my name is sfdfd.I am from er.I am 3

In [42]:
s=""
n = int(input("enter the value of n = "))
for i in range(n):
    name = input("enter name= ")
    phone = int(input("enter age = "))
    info = f"{name}------{phone}"
    s= s+info
    print(s)

enter the value of n = 2
enter name= abi
enter age = 3
abi------3
enter name= anl
enter age = 3
abi------3anl------3

In [58]:
a="Hello My name is Ram.I am from Kathmandu.I am 34".lower()
value=input("enter value").lower()
if value in a:
    print("yes",a.count(value))
else:
    print("no")

enter valueram
yes 1

In [53]:
a.upper()

'HELLO MY NAME IS RAM.I AM FROM KATHMANDU.I AM 34'

In [55]:
a.lower()

'hello my name is ram.i am from kathmandu.i am 34'

In [76]:
a="Ram--098798765\nShyam---0987"
a=a.replace('Ram','Hari')

In [77]:
print(a)

Hari--098798765
Shyam---0987

In [79]:
# .count()
# .replace()
# .lower()
# .upper()
# .split()

In [80]:
# make mark sheet assignment
# billing system

In [85]:
a = "Hello World"
a.split()

['Hello', 'World']

In [12]:

n=int(input("enter how many student u want to enter = "))
for i in range(n):
    name=input("enter student name = ")
    english=int(input("enter english mask = "))
    math=int(input("enter math mask = "))
    science=int(input("enter science mask = "))
    nepali=int(input("enter nepali mask = "))
    social=int(input("enter social mask = "))
    masksheet=f"name of student = {name}\n english ={english}\n math={math}\n science={science}\n nepali={nepali}\n social={social}"
    print(masksheet)
    total=english+math+science+nepali+social
    print("Total",total)
    percent=total/5
    if english<40:
        print("fail")
    elif math<40:
        print("fail")
    elif science<40:
        print("fail")
    elif nepali<40:
        print("fail")
    elif social<40:
        print("fail")
    else:
        print("pass")
    print("percent=",percent)

enter how many student u want to enter = 1
enter student name = abinash
enter english mask = 40
enter math mask = 40
enter science mask = 40
enter nepali mask = 40
enter social mask = 4
name of student = abinash
 english =40
 math=40
 science=40
 nepali=40
 social=4
Total 164
fail
percent= 32.8

In [7]:
a=0
n=int(input("enter how many product are there"))
for i in range(n):
    name=input("enter product name")
    quantity=int(input("input product quantity"))
    cost=int(input("enter product price"))
    total=quantity*cost
    print(f"{name}={quantity}*{cost}is{total}\n")
    a=a+total
print(a)

enter how many product are there2
enter product nameab
input product quantity2
enter product price2
ab=2*2is4

enter product nameabbkl
input product quantity2
enter product price2
abbkl=2*2is4

8

In [2]:
a = s=[['Apple,100,2,200'],['Banana',200,3,600]]
name= input("Enter name =")
for i in a:
    if name.lower() in i[0].lower():
        print(i)

Enter name =apple
['Apple,100,2,200']

In [ ]:
name = input("enter name")
quantity = int(input("enter name"))
price = int(input("enter name"))
total=quantity*price
a = s=[['Apple,100,2,200'],['Banana',200,3,600]]
a.append([name,quantity,price,total])
print(a)

In [ ]:
# s=[]
# n=int(input("enter how many product are there"))
# for i in range(n):
#     name=input("enter product name")
#     quantity=int(input("input product quantity"))
#     cost=int(input("enter product price"))
#     total=quantity*cost
#     data=[[name,quantity,cost,total]]
#     s=s+data
# print(a)

In [9]:
# wap to update change or del the quantity in shopping

In [10]:
s = [['Apple','100',2,200],['Banana',200,3,600],['milk,100,3,300']]
index=int(input("enter the new index"))
quatity=int(input("Enter quantity"))
total = s[]
s[index][2]=quantity
s[index][3]=total
print(s)

enter the new index0
Enter quantity1
2